<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.sffl.alert.sunday</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/jeff/Projects/fantasy-football/ops/run_alert.sh</string>
    <string>sunday</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>0</integer>
    <key>Hour</key><integer>11</integer>
    <key>Minute</key><integer>30</integer>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/jeff/Projects/fantasy-football</string>
  <key>StandardOutPath</key>
  <string>/Users/jeff/Projects/fantasy-football/logs/alert-sunday.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jeff/Projects/fantasy-football/logs/alert-sunday.err</string>
  <key>RunAtLoad</key><false/>
</dict>
</plist>
